/*====================
Reset css
=====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*====================
Common css
=====================*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

/*===================
Header Area
====================*/
#header_area {
    padding: 15px 0;
}
.logo img {
    max-width: 50%;
}
/*=========================
Navigation - Drop down menu
=========================*/

